.categories-page {
  background-color: #f0f8ff; /* Light blue color */
  padding: 20px;
  text-align: center;
}

.categories-page h1 {
  margin-bottom: 20px;
}

.categories-page select {
  margin-bottom: 20px;
  padding: 10px;
}

